.container {
    margin:0px 166px ;
}
.header {
    
    
    height: 100vh;
    background-size: cover;
    margin: 0;
    

}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav-item {
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color:#d81d1d;
}
.cart {
    position: relative;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
    height: 50px;
}
.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}
.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}
.num:hover {
    color: #d81d1d;

}
.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;

}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    background-color: #ff7400;
    color:#fff ;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition:  background-color  0.2s linear;
}
.button:hover  {
    background-color: #894b17;
}
.header-down {
    position: relative;

}
.header-title {
    color:#d67e35 ;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;

    margin-top:222px ;
    margin-bottom:12px ;
}
.header-suptitle{
    color: #fff;
    font-size:18px ;

}
.header-suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width:61px ;
    background-color: #fff;
    top: 125px;
    left: 56px;
}
.header-suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width:61px ;
    background-color: #fff;
    top: 125px;
    left: 308px;
}
.header-button {
    background-color: #ff7400;
    padding: 14px 28px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition:  background-color 0.3s linear;
}
.header-button:hover {
    background-color: #904506;
}

.cards-holder {
    display: flex;
    justify-content: center;
    
}

.card {

    
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;


    border-radius: 50px; 

}
.card-image{
    display: flex;
    justify-content: center;
    padding-top: 31px;


}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;

}
.card-title span {
    color: #d67e35;
    margin-left: 2px;

}
.card-desc {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #656363;
}

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}


.history-title {
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}
.history-title span {
    color: #d67e35;

}
.history-desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}
.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}
.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #bc9060;
}
.number-item span {
    display: block;
    color: #000;
}
.history-images {
    position: relative;
}
.history-holder {
    display: flex;
    justify-content: space-between;
}
.images-1 {
    position: absolute;
    z-index: 0;
    top: 54px;
    left: -400px;

}
.images-2 {
    position: absolute;
    z-index: 999;
    top: -92px;
    left: -220px;

}
.images-3 {
    position: absolute;
    z-index: 999;
    top: 74px;
    left: -150px;

}
.black-block {
    background-image: url(file:///C:/Users/User/Desktop/restoran/aksho/fon1.webp) ;
    padding: 80px 0;
}
.left-title {
    color: #d67e34;
    font-size: 52px;
    font-weight: 400;

    margin-bottom: 20px;
}
.left-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
.right-btn {
    background-color: #ff7400;
    color:#fff ;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
   
}
.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes-title {
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top:132px ;
    margin-bottom: 139px;
}
.dishes-title span {
    color: #d67e34;

}
.burgers {
    display: flex;
    justify-content: center;
}
.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.burgers-image {
    margin-right: 20px;

}
.burger-text {
    font-size: 26px;
    margin-left: 20px;
}

.menu {
    background-image: url(file:///C:/Users/User/Desktop/restoran/aksho/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:100px ;
}

.menu-title{
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom:138px ;
}
.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 50px;
    padding-bottom: 30px;

    margin-right: 20px;

}
.menu-text {
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}
.menu-subtext {
    font-size:16px ;
}
.menu-btn {
    background-color: #d67e34;
    text-decoration: none;
    padding: 14px 67px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;
}
.menu-button {
    margin-top: 20px;
}
.price-image {
    position: absolute;
    bottom: 30px;
    right: 70px;

}
.menu-image {
    position: relative;
}

.price-420 {
    position: absolute;
    bottom: 52px;
    right: 77px;
    color: #fff;
    font-size: 30px;
}
.menu-items {
    display: flex;
    justify-content: center;
}
.galery-title {
    font-size:54px ;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}
.galery-title span {
    color: #D67E34;
}
.galery-content {
    display: flex;
    justify-content: center;
}
.galery-left {
    margin-right: 20px;
}
.galery-down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cook {
    padding-bottom: 100px;
}
.cook-title {
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.cook-title span {
    color: #D67E34;
}
cook-content {
    display: flex;
    justify-content: space-around;
    
}
.footer {
    background-color:#000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;

}

.burger-menu {
    display: none;
}
.block {
    display: block;
}
.burger-slide {
    position: absolute;
    

}
.disp {
    display: none;
}
button {
    border: none;
    outline: none;

background-color: transparent;}


@media (max-width: 1500px) {
    .galery-content{
        display: block;
    }
    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-gla {
        margin-bottom: 20px;
    }
    .galery-left{
        margin-right: 0;
    }

    
}


@media (max-width:1300px) {
    .menu-items {
        display: block;
    }
    .menu-item {
        margin:20px auto;
        width: 400px;
    }
    .header-title {
        position:static ;
    }
    .header-suptitle:before,
    .header-suptitle:after {
        content: none;
            }

    .cook-content {
        display: block;
    }
    .cook-content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

    }
    .block-holder {
        display: block;

    }
    .left-title,
    .left-text,
    .right-button {
        text-align: center;
    }
    .right-button {
        margin-top: 30px;
    }
    .history-images {
        display: none;
    }
    .history-title,
    .history-desc,
    .history-number {
        width: auto;
    }
    .button {
        width: 100px;
        height: 100px;
        
        
    }
        
}
@media (max-width: 1185px) {
    .burger-menu {
        display: block;
    }
    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
    }
    .header-line {
        justify-content: space-between;
    }
    .burgers-image {
        display: none;
    }
}
@media (max-width:1000px) {
    .cards-holder {
        display: block;
    }
    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }
}
@media (max-width:780px) {
    .history-holder {
        display: block;
    }
    .menu-item {
        width: auto;
    }
    .high {
        display: none;
    }
    .container {
        margin: auto 40px;
    }
    .number-item {
        font-size: 23px;
    }
}